/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono", monospace;
  font-weight: var(--font-regular);
  color: var(--text-color);
  background: var(--background-image);
  background-color: var(--page-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.pseudo-block {
  position: absolute;
  display: var(--display-settings);
  color: var(--second-text-color);
  font-size: 18px;
  inline-size: 55px;
  block-size: 25px;
  z-index: 0;
  text-transform: uppercase;
  top: 22px;
  right: 22px;
}

.pseudo-block__rec {
  display: block;
  inline-size: 26px;
  block-size: 25px;
  text-transform: uppercase;
  display: var(--display-settings);
  color: var(--second-text-color);
}

.pseudo-block__circle {
  display: block;
  /* position: absolute; */
  border-radius: 50%;
  margin-inline-start: 13px;
  margin-block-start: 7px;
  width: 9px;
  height: 9px;
  background-color: var(--second-text-color);
  box-shadow: 0px 0px 4px 2px rgb(255, 0, 112);
  /* top: 22px;
  right: 40px; */
  z-index: 0;
}

/* 
---------------------------------------------------------------
                    Cтили для блока header
---------------------------------------------------------------
*/

.header {
  background: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone:after {
  border-inline-start: 1px solid var(--second-text-color);
  border-block-end: 1px solid var(--second-text-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--second-text-color);
  border-block-start: 1px solid var(--second-text-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button {
  color: var(--second-text-color);
  line-height: 18px;
  text-transform: lowercase;
  padding: 1px 16px 5px 13px;
}

.header__title {
  position: relative;
  right: 2%;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  margin-block-start: 28%;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__article {
  text-align: right;
  background-color: var(--background-color);
  text-align: left;
  margin-block-start: 11.5%;
  inline-size: 50%;
  margin-inline-start: auto;
  margin-inline-end: 0;
}

.header__article-title {
  color: var(--second-title-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
}

/* Медиазапросы для блока header */

@media (width <= 768px) {
  .header {
    aspect-ratio: 4/3;
  }

  .header__theme-menu {
    margin-block-start: 24%;
    text-align: right;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 23.5%;
    text-shadow: 4px 4px 0 var(--text-shadow);
  }

  .header__article {
    margin-block-start: 21.8%;
    margin-block-end: 22.7%;
    inline-size: 50%;
    margin-inline-end: 0%;
  }
}

@media (width <=767px) {
  .header__article {
    inline-size: 100%;
    margin-block-start: 16.7%;
    margin-block-end: 15.6%;
  }
}

@media (width <= 375px) {
  .header {
    padding: 10px;
  }
  .header__theme-menu {
    margin-block-start: 17.6%;
  }
  .header__title {
    position: static;
    margin-block-start: 18.6%;
  }
}

/* 
---------------------------------------------------------------
                    Cтили для блока main
---------------------------------------------------------------
*/

main {
  padding: 0 20px;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main__section:first-child {
  margin-block-start: 60px;
}

.main__section:not(:first-child) {
  margin-block-start: 80px;
}

.main__title {
  font-size: 18px;
  font-weight: var(--font-bold);
  text-align: left;
  line-height: 23.4px;
  color: var(--second-text-color);
}

.main__second-title {
  background-color: var(--background-color);
  color: var(--second-title-color);
}

.block-title {
  background-color: var(--background-color);
  color: var(--second-title-color);
  margin-block-end: 10px;
}

.main__centrelity-block {
  grid-column-start: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-link {
  text-shadow: 2px 2px 0 var(--background-color);
}

.main__paragraph {
  line-height: 23.4px;
  font-size: 18px;
}

.main__section-concentration {
  grid-template-rows: repeat(2, auto);
}

.main__section-concentration-title {
  grid-column-start: span 1;
}

.main__section-concentration-paragraph-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: span 3;
  gap: 20px;
}

.main__section-concentration-paragraph-block-article {
  max-block-size: 431px;
}

.main__advice-block {
  grid-column-start: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-of-recommendations {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-of-recommendations__item-title {
  font-size: 18px;
  margin-block-end: 10px;
  background-color: var(--background-color);
  color: var(--second-title-color);
  font-weight: var(--font-regular);
  line-height: 23.4px;
}

.main__section-images {
  display: flex;
  flex-direction: column;
  gap: 1%;
  margin-block-start: 80px;
}

.main__section-images-title {
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--second-title-color);
  text-align: left;
  line-height: 23.4px;
}

.list-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  margin-block-start: 20px;
}

.list-images__item-image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.list-images__item:first-child {
  grid-column: span 2;
}

.list-images__item:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.list-images__item:nth-child(3) {
  grid-column: span 1;
  grid-row: span 3;
}

.list-images__item:last-child {
  grid-column: span 2;
  grid-row: span 2;
}

/* Медиазапросы для блока main */

@media (max-width: 1023px) {
  .main__title {
    width: 236px;
  }

  .main__section-concentration-paragraph-block {
    display: flex;
    flex-direction: column;
  }

  .list-of-recommendations__item-title {
    margin-block-end: 9px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 0 10px;
  }

  .main__title {
    width: 100%;
  }

  .main__section {
    display: flex;
    flex-direction: column;
  }

  .main__section:first-child {
    margin-block-start: 40px;
  }

  .main__section:not(:first-child) {
    margin-block-start: 50px;
  }

  .main__section-centrality-title {
    inline-size: 98%;
  }

  .main__section-concentration-paragraph-block {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .main__section-images {
    margin-block-start: 50px;
    gap: 10px;
  }

  .list-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 0;
  }
}

/* 
---------------------------------------------------------------
                    Cтили для блока footer
---------------------------------------------------------------
*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
  /* min-height: 100vh; */
  aspect-ratio: 4/3;
  padding: 20px;
}

.footer__title {
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  text-align: center;
  color: var(--title-color);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Медиазапросы для блока footer */

@media (width <= 768px) {
  .footer {
    min-height: 100vh;
    aspect-ratio: 0;
  }
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 2px 2px 0 var(--text-shadow);
  }
}

@media (width <= 375px) {
  .footer {
    aspect-ratio: 4 / 7;
    margin-block-start: 40px;
    padding: 10px;
    min-height: 0;
  }
  .footer__title {
    padding-block-start: 1%;
  }
}
