/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: "IBM Plex mono";
  font-weight: 400;
  color: var(--text-color);
  background: url("../images/cover-image-light.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
---------------------------------------------------------------
                    Cтили для блока header
---------------------------------------------------------------
*/

.header {
  background: url("../images/cover-image-light.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  padding: 2vi;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 41px;
}

.header__theme-menu-button {
  line-height: 18px;
  text-transform: lowercase;
}

.header__title {
  display: flex;
  align-items: center;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  margin-top: 28.5%;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title__article {
  text-align: right;
  background-color: var(--background-color);
  font-size: 1.125rem;
  text-align: left;
  margin-top: 11.5%;
  line-height: 23.4px;
  font-weight: 700;
  width: 50%; /* Занимаем 50% ширины экрана */
  margin-left: auto; /* Автоматический отступ слева */
  margin-right: 0;
}

/* 
---------------------------------------------------------------
                    Cтили для блока main
---------------------------------------------------------------
*/
main {
  padding: 0 2vi;
  margin-top: 5.8vi;
}

.main__title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  /* background-color: var(--background-color); */
}
.main__second-title {
  background-color: var(--background-color);
}

.block-title {
  background-color: var(--background-color);
}

.main__section-centrality {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main__centrelity-block {
  grid-column-start: span 2;
}

.page-link {
  text-shadow: 2px 2px 0 var(--background-color);
}

.main__section-images {
}

.list-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 10px;
  grid-auto-flow: column dense;
}

.list-images__item-image {
  width: 100%;
}
/* 
---------------------------------------------------------------
                    Cтили для блока footer
---------------------------------------------------------------
*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/3;
}

.footer__title {
  font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
  text-align: center;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* 
---------------------------------------------------------------
                    Медиа-запросы 
---------------------------------------------------------------
*/
