/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --display-settings: none;
  --text-color: rgb(53, 52, 48);
  --second-text-color: rgb(53, 52, 48);
  --background-image: url("../images/cover-image-light.png");
  --title-color: rgb(255, 194, 230);
  --second-title-color: rgb(53, 52, 48);
  --accent-color: rgb(255, 0, 112);
  --background-color: rgb(255, 141, 203);
  --page-color: rgb(255, 241, 247);
  --opacity-color: rgba(255, 0, 112, 0.5);
  --font-bold: 700;
  --font-regular: 400;
}
