/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgb(255, 0, 112);
  --background-color: rgb(255, 141, 203);
  --title-color: rgb(255, 194, 230);
  --text-color: rgb(53, 52, 48);
}
